## Start cassandra service

> docker login    

  enter username and password      


> docker pull cassandra   

 pulling the cassandra docker image

> docker run --name sparkify-cassandra -p 127.0.0.1:9042:9042 -d cassandra

More about the cassandra docker image [here](https://hub.docker.com/_/cassandra?tab=description&page=1&ordering=last_updated)

More about getting cqlsh for docker container [here](https://medium.com/@atul.anand.sh/cassandra-docker-python-84c34d644f07)

## Cassandra with python

A python driver called **cassandra** will be used to run the Apache Cassandra queries

In [1]:
# ! pip install cassandra-driver

Requirement already satisfied: cassandra-driver in /home/guli/.pyenv/versions/3.8.6/envs/udacity_learning/lib/python3.8/site-packages (3.25.0)
Requirement already satisfied: six>=1.9 in /home/guli/.pyenv/versions/3.8.6/envs/udacity_learning/lib/python3.8/site-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: geomet<0.3,>=0.1 in /home/guli/.pyenv/versions/3.8.6/envs/udacity_learning/lib/python3.8/site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in /home/guli/.pyenv/versions/3.8.6/envs/udacity_learning/lib/python3.8/site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)

In [1]:
# import the library
import cassandra

In [3]:
# connect to the cluster
from cassandra.cluster import Cluster

cluster = Cluster() 
session = cluster.connect()

In [4]:
# create keyspace
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS test 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

In [5]:
# connect to the keyspace
try:
    session.set_keyspace('test')
except Exception as e:
    print(e)

! In NoSQL database, the tables are created based on the queries

In [6]:
# create a table
query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + "(year int, artist_name text, album_name text, city text, PRIMARY KEY (year, artist_name, album_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [7]:
# insert data to the table
query = "INSERT INTO music_library (year, artist_name, album_name, city)"
query = query + " VALUES (%s, %s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Who", "My Generation", "London"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You", "San Diego"))
except Exception as e:
    print(e)

In [8]:
# query the database
query = "SELECT * FROM music_library WHERE year=1965"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.artist_name, row.album_name, row.city)

1965 The Beatles Rubber Soul Oxford
1965 The Who My Generation London

In [9]:
# drop the tables
query = "DROP TABLE music_library"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [10]:
# query the database
query = "SELECT * FROM music_library WHERE year=1965"
try:
    session.execute(query)
except Exception:
    print('Table is dropped')

Table is dropped

In [11]:
# close the connect
session.shutdown()
cluster.shutdown()